footer.side_right{
    width: calc(100%/3);
    min-height: 720px;
}

.side_right_clock{
    height: 15%;
}

.side_right_information{
    height: 15%;
    border-radius: 20px;
    padding: 5%;
}

.side_right_cam{
    height: 63%;
}