article.core{
    width: calc(100%/3);
    min-height: 720px;
}

.core_status{
    height: 10%;
    padding-bottom: 4%;
}

.core_dice, .core_dicelist{
    height: 50%;
    min-height: 367.5px;
}

.core_meter{
    height: 48.8%;
    min-height: 371px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.yellow_dice:hover{
    background: radial-gradient(yellow 0%, rgba(251, 255, 0, 0.5) 35%, rgba(251,255,0,0) 70%);
}

.red_dice:hover{
    background: radial-gradient(red 0%, rgba(255, 0, 0, 0.5) 35%, rgba(255,0,0,0) 70%);
}

.blue_dice:hover{
    background: radial-gradient(blue 0%, rgba(0, 0, 255, 0.5) 35%, rgba(0,0,255,0) 70%);
}

.core_dice:active{
    background: radial-gradient(white 0%, rgba(1, 1, 1, 0.5) 35%, rgba(1,1,1,0) 70%)
}

.core_button{
    height: 10%;
    padding: 2%;
}

.core_messagebox{
    height: 13%;
    border-radius: 20px;
    padding: 2%;
    color: white;
}