.status_bar{
    font-family: 'LINESeedKR-Bd', sans-serif;
    width: 80%;
    height: 80px;
    line-height: 90px;
    font-size: 48pt;
    color: #0C2640;
    text-align: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #E7FF17 40%, #E7FF17 50%, #E7FF17 60%, rgba(0, 0, 0, 0) 100%);
    margin: auto;
}

.status_bar.blue_status{
    color: black;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #3096FF 40%, #3096FF 50%, #3096FF 60%, rgba(0, 0, 0, 0) 100%);
}

.status_bar.red_status{
    color: #0C2640;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #FF554A 40%, #FF554A 50%, #FF554A 60%, rgba(0, 0, 0, 0) 100%);
}