#dice_d1{
    width: 120px;
    height: 120px;
    position: relative;
    top: calc(50% - 115px);
    left: calc(50% - 120px);
    transform-style: preserve-3d;
}

#dice_d2{
    width: 120px;
    height: 120px;
    position: relative;
    top: calc(50% - 115px);
    left: calc(50%);
    transform-style: preserve-3d;
}

.dice_d > .dice_face{
    width: 120px;
    height: 120px;
    position: absolute;
    text-align: center;
    line-height: 120px;
    font-size: 70pt;
    background-image: url('../../../public/the_dice/box_new.png');
    background-size: cover;
    animation: herelight 6s linear infinite;
}

.dice_d > .dice_face > img{
    width: 120px;
    height: 120px;
}