.button_menubar{
    height: 120px;
    border-radius: 15px;
    outline: 5px inset gray;
    background: dimgray;
}

.menubar_title{
    font-size: 25pt;
    font-family: 'LINESeedKR-Bd'
}

.buttoncol{
    text-align: center;
    font-family: 'LINESeedKR-Rg'
}

.buttoncol > img{
    display: block;
    position: relative;
    height: 50px;
    margin: auto;
}